* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-rgb: 238, 91, 97;
    --secondary-color-rgb: 218, 22, 124;
    --background-color-rgb: 255, 255, 255;
    --text-color-rgb: 51, 51, 51;
    --hover-color-rgb: 243, 193, 100;
    --drpdwn-color-rgb: 243, 231, 205;
    --primary-color: #ee5b61;
    --secondary-color: #da167c;
    --background-color: #ffffff;
    --text-color: #333;
    --hover-color: #f3c164;
    --btn2-color: #858383;
    --drpdwn-color: #f3e7cd;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(250, 247, 235, 0.86);
}
a {
    text-decoration: none;
    user-select: none;
}

.navbar {
    display: flex;
    position: relative;
    z-index: 1;
    width: auto;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 15px;
    padding-inline: 1vw;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
}

#notification-container {
    display: block;
    top: 60px;
    left: 50%;
    height: fit-content;
    width: fit-content;
    padding: 5px 15px 5px;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background: white;
    color: #555555;
    transition: top 0.5s ease;
}

#visible::before {
    content: "Copied";
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 5px 10px;
    transform: translate(-50%, 0);
}

.links-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 100%;
    padding: 1rem;
}

.navbar a {
    position: relative;
    color: var(--btn2-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

.links-container a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--hover-color);;
    transition: width 0.3s ease;
}
.links-container a:hover {
    color: var(--hover-color);
}
.links-container a:hover::after {
    width: 100%;
}

.logo-img {
    position: relative;
    max-height: 60px;
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

.profile-dropdown {
    padding: 10px 25px 10px;
    position: absolute;
    right: 26px;
    top: 70px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.profile-dropdown ul li {
    padding-top: 10px;
}

button {
    white-space: nowrap;
    text-overflow: ellipsis;
    background: var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
.button-02 {
    background: none;
    color: var(--btn2-color);
    margin: 3px;
    box-shadow: none;
    box-sizing: border-box;
}

.button-02:hover {
    color: var(--hover-color);
    transition: color 0.2s;
}

.loader {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

.form-select,
.form-input {
    margin-left: 5px;
}
select,
input {
    border: none;
    outline: none;
    box-shadow: none;
    font: inherit;
    background: #ededed;
    -webkit-appearance: none;
    color: var(--text-color);    height: 36px;
    padding: 10px 14px;
}

input.plain {
    padding: 0;
    width: 100%;
    background: transparent;
    color: inherit;
    appearance: none;
    user-select: none;
}

input.editable {
    width: 150px;
    box-sizing: border-box;
}

.editable {
    border: none;
    font-size: 1rem;
    color: var(--text-color);
    transition: border-color 0.2s, box-shadow 0.2s;
    outline: none;
    cursor: pointer;
}


.selected.plain {
    padding: 0;
    width: 100%;
    background: none;
    border: none;
}

.blurred-row {
  filter: blur(4px);
  transition: filter 0.4s ease;
}



.default-dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

.mcq-list li{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.check-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: border 0.1s;
}

.check-box.checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.enrollment-status {
    overflow: visible;
}

.drpdwn {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: fit-content;
    user-select: none;
}

.drpdwn .inpt-wrapper {
    display: block;
    position: relative;
    background: #ededed;
    cursor: pointer;
}

.drpdwn .inpt-wrapper input {
    user-select: none;
    pointer-events: none;
    position: relative;
    background: none;
}

.drpdwn .inpt-wrapper.active {
    border-bottom: 1px solid rgba(66, 66, 66, 0.26);
}

.inpt-wrapper.disabled input,
.inpt-wrapper.disabled {
    background: none;
    border: none;
    cursor: auto;
    pointer-events: none;
}
input.disabled {
    background: none;
    border: none;
    cursor: auto;
}
.drpdwn-optns {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 1;
    background: rgba(var(--drpdwn-color-rgb), 0.5);
    min-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
}

.drpdwn-optns li {
    cursor: pointer;
    user-select: none;
    padding: 10px 14px;
}
.drpdwn-optns li:active,
.drpdwn-optns li:hover {
    cursor: pointer;
    user-select: none;
    padding: 10px 14px;
    background-color: #fae3d1;
}

.user-select-none {
    inset: 0;
    background: transparent;
    pointer-events: none;
    user-select: none;
}

.copy {
    position: relative;
    cursor: pointer;
}